
 .header , .footer {
    background-color: rgb(190, 247, 254);
 }
 
 .header__logo, .footer__logo{
    width: 90px;
    height: 50px;
 }
 .header__button-meuscarros , .header__button-minhaslavagens{
   background-color: rgb(190,247,254) ;
   border-color:rgb(190,247,254) ;
   border-radius: 5px;
   font-weight: bold;
   padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
 }
 .header__button__sair{
   background-color: rgb(147,242,254);
   border-color:rgb(147,242,254) ;
   border-radius: 5px;
   font-weight: bold;
   padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
 }
 .header{
   display: flex;
   align-items: center;
   padding-top: 7px;
   padding-bottom: 8px;
   justify-content:left;
}
.header__button-meuscarros{
   margin-left: 910px;
   margin-right: 0;
}

.main__informacoes{
   background-color: #fff;
   margin-left: 100px;
   margin-right: 100px;
   margin-bottom: 50px;
 }
 .main__button__select-input{
   background-color: transparent;
   border: none;
   font-weight: bold;
   
 }
 .main__button , .main__button-ordenar{
   background-color: transparent;
   border:none;
}
.main__button-ordenar{
   padding-left: 400px;
}
.main__button-lavar{
   padding-left: 250px;
}
.main__title{
   font-size: 40px;
   margin-left: 300px;
   padding-bottom: 20px;
   padding-top: 20px;
}
.main__button-lavar{
   background-color: transparent;
   border:none;

}
.main__image{
   background-color: #fff;
   margin-left: 100px;
   padding-top: 10px;
   padding-bottom: 20px;
}
.main {
   background-color: rgb(234, 247, 255);
   padding-bottom: 50px;
}
.main__button-lavarcarro{
   background-color: rgb(147,242,254);
   border-color: rgb(147,242,254);
   border-radius: 5px;
   padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}
.main__button-avaliações{
   background-color: rgb(255,255,255);
   border-color: rgb(255,255,255) ;
   margin-left: 720px;
   border-radius: 5px;
   padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}
.main__image{
 width: 80px;
 height: 80px;
}
.main__informacoes__nome{
padding-bottom: 20px;
}
.main__informacoes__nota{
   padding-left: 425px;
   padding-bottom: 20px;
}
.main__informacoes__preco{
   padding-left: 10px;
   
}
.main__informacoes__nome , .main__informacoes__nota , .main__informacoes__preco {
   
   font-weight: bold;
}

.footer__image{
   width: 20px;
   height: 20px;
   margin-left: 700px;
   margin-top: 80px;
   margin-bottom: 20px;
   
}
.footer{
   display: flex;
   padding-top: 5px;
   padding-bottom: 5px;
}
.footer__logo{
   width: 60px;
   height: 60px;
   padding-left: 20px;
}
.footer__informations{

   margin-left: 300px;
   padding-top: 20px;
}
.footer__instagram{
   margin-top: 80px;
}
